# Environment
.env*

# Docker
.dockerignore
docker-compose.override.yml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
.venv/
venv/
ENV/
env/

# Logs & Data
*.log
*.db
*.sqlite3
data/*
!data/.gitkeep
logs/*
!logs/.gitkeep
ads/*
!ads/.gitkeep
conf/*
!conf/.gitkeep

# Gemini-related
RESTART.md
.ruff_cache
